body {
  display: flex;
  justify-content: center;
}

.container {
  border: 2px solid hotpink;
  max-width: 85%;
  margin: 0;
  padding: 0;
}

.row {
  border: 2px solid blue;
  margin: 0;
  padding: 0;
}

.col {
  border: 2px solid greenyellow;
  margin: 0;
  padding: 0;
}

#main {
  text-align: center;
}
