:root {
  background-color: #ecf5ff;
}

body {
  background-color: #ecf5ff;
  display: flex;
  justify-content: center;
  margin: 0;
  max-width: 100vw;
  padding: 0;
}

h1 {
  background-color: #9672cc;
  margin: 0;
  padding: 0;
  text-align: center  ;
}

h2 {
  margin: 0 0 8px 6px;
}

h5 {
  font-size: 15px;
}

h6 {
  font-size: 1.2rem;
  margin: 0.5rem;

}

input {
  margin: 0;
  padding: 0; 
}

p {
  margin: 0 0 16px 6px;
  font-size: 18px;
}

.btn {
  width: 100%;
}

.card {
  background-color: rgb(212, 166, 174);
}

.card-body {
  display: inline-block;
  padding: 4px;
  text-align: left;
}

.card-date {
  font-weight: 700;
}

.card-icon {
  margin-bottom: 8px;
}

.card-text {
  margin-bottom: 8px;
}

.col {
  border: 2px solid greenyellow;
  margin: 0;
  padding: 0;
}

.container {
  border: 2px solid hotpink;
  /* max-width: 100%; */
  margin: 0;
  padding: 0;
}

.row {
  border: 2px solid blue;
  margin: 0;
  padding: 0;
}

.sideNav {
  margin: 0;
  padding: 0;
}

#addCity{
  max-width: 100%;
  margin: 0;
  padding: 0;
}

#green {
  background-color: green;
}

#yellow {
  background-color: yellow;
}

#orange {
  background-color: orange;
}

#red {
  background-color: red;
}

#purple {
  background-color: purple;
}

#cityInput {
  padding: 1px;
  margin: 1px;
}

#deck.card-body {
  margin: 0;
}

.card-deck {
  max-width: 100%;
}


#main {
  /* text-align: center; */
  max-width: 75%;
}

#searchBtn {
  max-width: 100%;
  margin: 0;
  padding: 0;
}


#searchIcon {
  font-size: 20px;
  font-weight: 700;
  height: 38px;
  padding: 1px;
  width: 48px;
}

#searchBox{
  max-width: 100%;
  margin: 0;
  padding: 0;
}

#today {
  display: block;
  /* text-align: left; */
}

#ul-view {
  list-style-type: none;
  text-align: left;
}

#clearBtn {
  background-color: cornflowerblue;
  border: 2px solid cornflowerblue;
  color: whitesmoke;
  margin-top: 1px;
  margin-bottom: 1px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

#clearBtn:active {
  background-color: rgb(71, 107, 173);
}
#clearBtn:hover {
  border: 2px solid rgb(53, 53, 53);
}

#clearbtn {
  background: conic-gradient(from 45deg, red, orange, yellow, green, blue, purple);
  border-color: #333;
  color: #ecf5ff;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0.5rem;
  padding: 0.5rem;
  text-decoration: none;
  text-shadow: -1px 0 #333, 0 2px black, 1px 0 black, 0 -1px black;
  -webkit-border-radius: 1rem;
}

#clearbtn:hover {
  cursor: pointer;
  box-shadow: 0 0.5rem 0.5rem 0 #333;
  transform: translateY(0.1rem);
  transition: transform 150ms;
}

#clearbtn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}